<footer>
    <p>This site was generated using <a href="https://www.swift.org/" target="_blank">Swift</a> & <a href="https://github.com/toucansites/toucan" target="_blank">Toucan</a> by <a href="http://github.com/artemnovichkov/" target="_blank">Artem Novichkov</a>.</p>
</footer>
