<footer>
    <p>This site was generated using <a href="https://www.swift.org/" target="_blank">Swift</a> & <a href="https://github.com/toucansites/toucan" target="_blank">Toucan</a>.</p>

    <p class="small">{{site.title}} &copy; {{year}}.</p>
</footer>
