header, footer, .page {
    max-width: 800px;
    margin: 0 auto;
}
header {
    text-align: center;
    border-bottom: 1px dotted black;
    padding-bottom: 16px;
}
footer {
    text-align: center;
    border-top: 1px dotted black;
    padding-top: 16px;
}
.page {
    padding-top: 16px;
    padding-bottom: 16px;
}
header #logo img {
    width: 64px;
}